*~ 
*.tmp

sandbox/
# some week2 code files take inputs/output to sandbox
!week2/sandbox/

results/*
!results/.gitkeep

#python
__pycache__/
.pytest_cache
*.pyc

#R
.RData
.Rhistory
.Rapp.history
.Ruserdata
.Renviron
