*~ 
*.tmp

results/
sandbox/
handout_pdfs/

!.gitkeep
# some week2 code files take test.txt as input
!week2/sandbox/test.txt

#python
__pycache__/
.pytest_cache
*.pyc

#R
.RData
.Rhistory
.Rapp.history
.Ruserdata
.Renviron
Rplots.pdf
