*~ 
*.tmp

results/*
sandbox/
course_material/

!.gitkeep
# some week2 code files take test.txt as input
!week2/sandbox/test.txt

# python
__pycache__/
.pytest_cache
*.pyc
profires

# R
.RData
.Rhistory
.Rapp.history
.Ruserdata
.Renviron
Rplots.pdf

.ipynb_checkpoints/

# not include large data files form GIS week
week5/data/

# miniproject
!results/supplementary/.gitkeep
miniproj_prelim/*

# HPC
HPC/*
!HPC/README.md
!HPC/ter21/
HPC/ter21/*.rda
HPC/ter21/run_cluster_shell.sh.*
HPC/ter21/ter21_HPC_feedback

# maths
maths_primer/*